@import "../../shared/variables";

* {
  background-color: $black;
  color: $silver;
}

h3 {
  text-align: center;
  font-size: 1.9vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dark {
  color: $black;
}

.light {
  color: $yellow;
}

h4 {
  padding: 5px;
  text-align: right;
  background-color: transparent;
  border-radius: 5px;

  //animation: fade-in 1.5s ease-in;
  position: absolute;
  bottom: 0;
  right: 0.1rem;
}

.card {
  border: 5px solid $black;
  position: relative;
  transform: translateY(0);
  text-decoration: none;
}

.card:hover {
  cursor: pointer;
  transform: translateY(-0.5em);
  transition: 0.5s;
  h4 {
    animation: slide-in-price ease-in-out 0.5s forwards;
    transform-origin: bottom right;
  }
}

// Responsiveness
@media #{$media-mobile} {
  h3 {
    font-size: 3.5vw;
  }
}

// Animations
@keyframes slide-in-price {
  to {
    transform: scale(1.2, 1.2);
    background-color: $silver;
  }
}
