@import "../shared/variables";

* {
  background-color: $black;
}

.row {
  justify-content: space-between;
  overflow-x: hidden;
}

h1 {
  padding: 8px 0 0 20px;
}

h1:hover {
  cursor: pointer;
  color: #992a22;
}

.navbar {
  display: block;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  li {
    padding: 10px;
    margin: 0 2px;
    color: $silver;
  }

  li:hover, .active {
    animation: fade-in-bar 0.2s linear;
    cursor: pointer;
    padding-bottom: 3px;
    border-bottom: 5px solid $red;
    margin-bottom: -12px;
    color: $yellow;
  }
}

#shopping-cart {
  padding: 0;
  border-bottom: none;
  margin-bottom: -12px;
  width: 50px;
  height: 50px;
}

#shopping-cart:hover, .cart-active {
  animation: none;
  cursor: pointer;
  content: url($image-path + "trolley-hover.svg");
}

#shopping-cart:focus {
  animation-name: ride-away, fade-in;
  animation-iteration-count: 1, 1;
  animation-duration: 1s, 0.5s;
  animation-delay: 0s, 1s;
  animation-timing-function: ease-out, ease-in;
}

@media #{$media-mobile} {
  #shopping-cart {
    width: 50%;
  }
  .cart-active {
    animation: ride-away ease-out 1.5s;
  }
  h1 {
    width: 100%;
    text-align: center;
  }

  .navbar {
    margin: 0 auto;
  }

  ul {
    padding-bottom: 4px;
  }
}

@keyframes fade-in-bar {
  from {
    border-bottom-width: 0;
  }

  to {
    border-bottom-width: 5px;
  }
}

@keyframes ride-away {
  0% {
    transform: translateY(-10%);
  }
  15% {
    transform: translate(0, 0);
  }
  100% {
    transform: translateX(200%);
  }
}
