<header class="container-fluid">
  <div class="row">
    <h1 class="title" routerLink="/">Rocking Men</h1>
    <nav class="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active" routerLink="/home"><a>Home</a></li>
        <li routerLinkActive="active"  routerLink="/shop"><a>Shop</a></li>
        <li id="about-us" routerLinkActive="active" routerLink="/info"><a>About us</a></li>
        <li routerLinkActive="active" routerLink="/contact"><a>Contact us</a></li>
        <li routerLinkActive="active" routerLink="/admin" *ngIf="loggedIn"><a>Admin</a></li>
        <li id="shopping-cart" class="cart" routerLinkActive="cart-active" routerLink="/payment"><a><img alt="shopping cart" src="{{'trolley.svg' | path}}" height="50" width="50"></a></li>
      </ul>
    </nav>
  </div>
</header>
