<div class="container">
  <div class="row">
    <h1>Rocking Men</h1>
    <nav class="navbar navbar-default">
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active"><a routerLink="/home">Home</a></li>
        <li routerLinkActive="active"><a routerLink="/shop">Shop</a></li>
        <li routerLinkActive="active"><a routerLink="/info">About us</a></li>
        <li routerLinkActive="active"><a routerLink="/contact">Contact us</a></li>
      </ul>
    </nav>
  </div>
</div>
