<div class="container">
  <div class="col-xs-12">
    <form class="center-block" (ngSubmit)="login()" #f="ngForm">
      <h1 class="title">Login</h1>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" class="form-control" ngModel name="username" required>
        <label for="password">Password</label>
        <input type="password" id="password" class="form-control" ngModel name="password" required>
        <button class="btn" type="submit" [disabled]="f.invalid">Login</button>
      </div>
    </form>
  </div>
</div>
