<div id="details" class="container">
  <img alt="{{product.name}}" src="{{product.imagePath | path}}">
  <div id="product-info">
    <h1 class="title">{{product.name | titlecase}}</h1>
    <div>
      <h3>Price: &euro;{{product.price | price}}</h3>
      <h3 id="stock"></h3>
    </div>
    <p>{{product.description}} p;olikujhg fdfrgthukl,jhmngbfv dewr4t5yu jkhmngbfvd retyujkh,mbn vgfvdser jydhrjhtw eesh tsrh sfhts rger shtsrh tsrh shg gxfh sth srh trsh trs htrs hgngxfvbb grhsrrrrrbfgrteshynfgbd nmjfyrtszdkrsm nj</p>
    <button class="btn" (click)="addToCart()" [disabled]="product.amount <= 0">Add to cart</button>
    <button class="btn" (click)="deleteProduct()" *ngIf="isAdmin">Delete product</button>
  </div>
  <div class="suggestions">
    <h2>Suggestions</h2>
    <app-product-list [items]="suggestions" [columns]="suggestItems"></app-product-list>
  </div>
</div>

