// Color palette
$silver: #E6DEDD;
$red: #8F1D14;
$black: #1B120F;
$yellow: #F89D13;
//$black: #000000;
//$purple: #AA14F0;
//$lightPurple: #BC8CF2;
//$silver: #EEEEEE;

// default colors
$shadow: rgba(0, 0, 0, 0.2);
$dark-shadow: rgba(0, 0, 0, 0.5);

// Viewports
$media-desktop: "only screen and (max-width : 1024px)";
$media-tablet: "only screen and (max-width : 768px)";
$media-mobile: "only screen and (max-width : 600px)";
$media-mobile-sm: "only screen and (max-width : 480px)";

// Paths
$image-path: "../../assets/images/";
