article {
  display: flex;
  flex-direction: column;
}

section {
  display: grid;

  gap: 1em;
  grid-template-areas:  "header header"
                        "text image";
  h2 {
    grid-area: header;
  }

  p {
    grid-area: text;
  }

  aside {
    grid-area: image;
    img {
      width: 100%;
    }
  }
}

.reverse {
  grid-template-areas:  "header header"
                        "image text";
}
