<article class="container">
  <h1 class="title">About Rocking man</h1>
  <section id="home">
    <h2>Who are we</h2>
    <p>We at Rockingman are motivated by the love for guitars.
      We want to serve and serve all guitarists.
      All Rockingman employees are guitarists, guitar enthusiasts and will not compromise when it comes to our instruments and equipment.
      We only carry stuff that we know you'll love for years to come.
      Rockingman is more than your average store.
      We offer a pleasant atmosphere, great service and personal assistance from people who are guitarists themselves.</p>
    <aside>
      <figure>
        <img alt="guitars in shop" src="{{'guitars-in-shop.jpg' | path}}">
        <figcaption><em>Guitars in shop</em></figcaption>
      </figure>
    </aside>
  </section>
  <section class="reverse">
    <h2>Products</h2>
    <p>The products we sell at the moment are guitars (electric, semi and acoustic), amplifiers, picks, snares and other related guitar products.
      All our instruments are delivered ready to play!</p>
    <aside>
      <figure>
        <img alt="picks" src="{{'plectrums.jfif' | path}}">
        <figcaption><em>Some of our picks</em></figcaption>
      </figure>
    </aside>
  </section>
  <section>
    <h2>Repairs</h2>
    <p>From small adjustments to pickup replacement, refret or major repairjobs: our highly qualified repair department can help you out.
      You can always visit one of our stores and we will help you on the spot! Want to know more now? <a routerLink="/contact">Contact us!</a></p>
  </section>
</article>
