@import "../../shared/variables";

//* {
//  background-color: $black;
//}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  li {
    list-style-type: none;
  }
}
