@import "../shared/variables";

#product-list {
  li {
    list-style: none;
  }
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  h1 {
    margin-left: 2rem;
  }

  button {
    margin: auto 1em;
    border-radius: .2rem!important;
  }
}

#price-block {
  text-align: right;

  h2 {
    display: inline;
    text-align: right;
  }

  #price {
    display: inline-block;
    transform: scaleX(0);
    animation: slide-in-price .5s ease-in forwards;
    animation-delay: .5s;
    transform-origin: left;
  }
}


// Animation
@keyframes slide-in-price {
  to {
    transform: scaleX(1);
  }
}
