@import "../shared/variables";

#product-list {
  li {
    list-style: none;
  }
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  h1 {
    margin-left: 2rem;
  }

  button {
    margin: auto 1em;
    border-radius: .2rem!important;
  }
}

#price-block {
  text-align: right;
  background-color: transparent;

  h2 {
    display: inline;
    text-align: right;
  }

  #price {
    display: inline-block;
    transform: scaleX(0);
    animation: slide-in-price-pay .5s ease-in forwards;
    animation-delay: .5s;
    transform-origin: left;
  }
}

// Responsiveness
@media #{$media-tablet} {
  .container {
    min-width: 90%;
  }

  header {
    flex-direction: column;
    margin-bottom: .5rem;
  };

  #product-list {
    padding: 0;
  }
}

// Animation
@keyframes slide-in-price-pay {
  to {
    transform: scaleX(1);
  }
}
